@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
    font-family: cursive;
    text-align: center;
    overflow-x: hidden;
}
/* NavBar */

.header {
    background-color: rgb(247,247,247);
  }
  
.myname {
    font-family: 'Sacramento';
    font-size: 2.5rem;
}
  .navbar {
      padding: 1% 8% 0%;
  }
  
  .nav-item {
      font-size: 1rem;
      padding: 0.5rem 0.4rem;
  }
  
  #heading {
      font-weight: bold;
      font-size: 32px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/* self intro */

.self-intro {
    padding: 0% 8% 0%;
    position: relative;
    margin: 80px auto 100px auto;
    text-align: left;
}

.self-intro a{
  text-decoration: none;
}
.self-intro a .my-media{
  width: 37px;
  height: 37px;
  margin-right: 7px;
}

.self-intro p {
    display: flex;
    line-height: 2;
}

.my-img {
    width: 40%;
    height: 60%;
    float: right;
    margin-left: 30px ;
}

.self-intro img {
    width: 542px;
    height: 400px;
}

/* .self-intro ends */

/* primary-btn  */
.primary-btn {
    padding: 40px 0px 50px;
}

.primary-btn a{
    margin-right: 37px;
    background-color: rgb(124, 108, 218);
    color: white;
}

/* Services */

.skill-row {
    padding: 4% 8% 6%;
    position: relative;
    margin: 80px auto 100px auto;
    text-align: left;
    display: block;
}
.skill-row h1{
  font-size: 2rem;
  text-align: left;
  margin-top: 50px;
}
.skill-row p {
    /* display: flex; */
    font-size: 13px;
    margin-bottom: 10px;
}

.skill-row img {
    width: 542px;
    height: 450px;
    float: left;
    margin-right: 30px ;
}

.my-skills-first{
  display: inline-block;
  margin: 0px 70px ;
}
.my-skills-sec{
  display: inline-block;
  margin: 0px 140px ;
}

.skill-row div img{
  width: 40px;
  height: 40px;
  margin: 10px 6px;
  opacity: 0.5;
}


ul {
    list-style: none;
    }
    
    .work::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-image: url(views/bolt_7625422.png);
    margin-right: 5px;
    }

    /* services ends */


.skills{
    padding: 0% 8% 0%;
    position: relative;
    margin: 80px auto 100px auto;
    text-align: left;
}
.skills h1{
  font-size: 2rem;
  text-align: left;
  margin-top: 50px;
}
.skill-bars{
  padding: 30px 30px;
  width: 500px; 
  height: 400px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.bar{
  margin: 20px 0;
  padding: 8px 0;
}
.bar:first-child{
  margin-top: 0px;
}
.info{
  margin-bottom: 5px;
}
.info span{
  font-weight: 500;
  font-size: 17px; opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.progress-line{
  height: 10px; width: 100%;
  background: #f0f0f0; position: relative;
  transform: scaleX(0); transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span{
  height: 100%; position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(161, 150, 223);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span::before{
  position: absolute; content: "";
  top: -10px; right: 0;
  height: 0; width: 0; opacity: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute; top: -28px;
  right: 0; font-weight: 500;
  background: #000;
  color: #fff; opacity: 0;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.html span{
  width: 84%;
}
.css span{
  width: 92%;
}
.JavaScript span{
  width: 60%;
}
.react span{
  width: 50%;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.html span::after{
  content: "84%";
}
.css span::after{
  content: "92%";
}
.JavaScript span::after{
  content: "60%";
}
.react span::after{
  content: "80%";
}

/* Media Query */
/* For tablet */
@media screen and (max-width:900px){
  .skills h1{
    font-size: 2rem;
    text-align: center;
  }
  .skill-bars{
  padding: 15px 20px;
  width: 600px; 
  border-radius: 10px;

  }

}
/* For mobile */
@media screen and (max-width :600px) {
  h1{
    font-size: 1rem;
    text-align: center;
  }
  .skill-bars{
    padding-bottom: 60px;
    width: 400px; 
    border-radius: 8px;
    margin-bottom: 250px;
  }
  .bar {
    padding:10px;
    margin:0;
  }
  
}

.skills img {
    width: 542px;
    height: 400px;
    float: right;
}


/* Achievements */

.achieve{
    padding: 0% 8% 0%;
    position: relative;
    margin: 80px auto 100px auto;
    text-align: left;
  }
  .achieve h1 {
    font-size: 2rem;
    text-align: left;
    margin-top: 50px;
  }
  
  .achieve .card{
      margin: 15px;
  }
  
  .achieve .card img{
    height: 50%;
    width: 50%;
  }

/* projects */

.projects{
    padding: 0% 8% 0%;
    position: relative;
    margin: 80px auto 100px auto;
    text-align: left;
  }
  .projects h1 {
    font-size: 2rem;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  
  .projects .card{
    text-align: center;
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1% 12% 0%;
  }
  
  .projects .card img{
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .projects .card .card-title{
    border: 1px solid black;
  }
  
  h5:hover{
    background-color: rgb(161, 150, 223);
    color: #f0f0f0;
    cursor: pointer;
  }

  /* footer */
#footer {
    padding:  5% 15%;
    font-size: small;
    background-color: rgb(247,247,247);
  }
  
  #footer a {
    text-decoration: none;
  }
  
  #footer a i{
    color: black;
    margin: 20px 6px;
  }
  
  #footer a i:hover{
    color: rgb(124, 108, 218)
  }
  
  /* home */
@media only screen and (max-width:700px) {
  #home{
    font-family: sans-serif;
  }
  #home .self-intro .my-img{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #home .self-intro h1{
    width: 80%;
    margin: 60px auto 20px;
  }

  #home .self-intro h1, p,.media,.primary-btn{
    text-align: center;
  }

  #home .self-intro .my-img{
    align-items: center;
    width: 100%;
  }
}

/* home ends */

/* services starts*/

/* @media only screen and (max-width:1030px) {
    #services .skill-row .code-img{
      width: 50%;
      height: 90%;
      text-align: center;
      margin: 50px auto;
    }

    #services .skill-row ul {
        margin: 40px 0 0;
    }
    #services .skill-row h3, p, .my-skills{
      text-align: center;
    }
    #services .skill-row .my-skills .my-skills-first{
      width: 70%;
      }
    #services .skill-row .my-skills .my-skills-sec{
        width: 80%;
        margin: 0 70px;
    }
  } */
@media only screen and (max-width:700px) {
    #services{
        font-family: sans-serif;
    }
    #services .skill-row h3{
        display: block;
        font-size: 1.7rem;
        text-align: center;
        width: 100%;
        /* padding: 20px 0; */
    }
    #services .skill-row .my-img{
        width: 90%;
        height: 90%;
      }
    
    #services .skill-row .my-skills .my-skills-first{
    width: 70%;
    }
    #services .skill-row .my-skills .my-skills-sec{
        width: 80%;
        margin: 0 70px;
    }
  }
  @media only screen and (min-width:1000px) {
    #services .skill-row div img{
      width: 30px;
      height: 30px;
      margin: 10px 6px;
      opacity: 0.5;
    }
    #services .skill-row .my-skills .my-skills-first{
      display: inline-block;
      margin: 0px 70px ;
    }
    #services .skill-row .my-skills .my-skills-sec{
      display: inline-block;
      margin: 0px 140px ;
    }
  }
  
  /* skills starts*/

  @media only screen and (max-width:700px) {
    #skills {
        font-family: sans-serif;
        margin: 0 auto;
    }
    #skills .skills h1{
        display: block;
        font-size: 1.7rem;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }
    #skills .skills .pro-img{
        width: 100%;
        height: 100%;
      }
  }

    /* skills ends*/

    /* achievements starts*/

  @media only screen and (max-width:700px) {
    #achievements {
        margin: 0 auto;
        font-family: sans-serif;
    }
    #achievements .achieve h1{
      display: block;
      font-size: 1.7rem;
      text-align: center;
      width: 100%;
      padding: 20px 0;
    }
    #achievements .achieve .card {
        align-items: center;
    }

  }

    /* achievements ends*/

    /* projects starts */

    @media only screen and (max-width:700px) {
        #projects{
          font-family: sans-serif;
        }
        #projects .projects h1{
          display: block;
          font-size: 1.7rem;
          text-align: center;
          width: 100%;
          padding: 20px 0;
        }
    }

    /* projects starts */
